@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
    --fonte-Destaque: 'Cookie', cursive;
    --fonte-serifada: 'Cinzel', serif;
    --cor01: #e7e5d8;
    --cor02: #d6d4c8;
    --cor03: #464646;
}
.locais{
    display: flex;
    flex-direction: column;
}
.localizacao > img{
    width: 22em;
    height: 13.5em;
    border: 2px solid var(--cor03);
}
.localizacao{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.text{
    max-width: 14em;
    margin: 0em 1em;
}
.text h2{
    font-family: var(--fonte-serifada);
    margin: 0em 0em;
}
.text p{
    margin: 0.5em 0em 1em 0em;
    font-size: 0.9em;
}
@media (max-width: 999px){
    .localizacao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text{
        margin: 1.5em;
        text-align: center;
    }
    .text p{
        font-size: 1em;
    }
}
