@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');





section {
    width: 100%;
    height: 100%;
}
div.local img {
    width: 350px;
    height: 250px;
    border: 2px solid #4e3620;
}

div.local{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.local figure{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

div.local figure h2{
    padding-left: 20px;
    width: 300px;
    font-family: 'Amatic SC', cursive;
    color: #4e3620;
    font-size: 35pt;
}
div.local figure p{
    padding-left: 20px;
    width: 300px;
    font-family: 'Cookie', cursive;
    font-size: 17pt;
    height: auto;
}
div.local p a{
    margin-left: 55px;
    margin-bottom: 30px;
}

div.local p input {
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #f0a500;
    color: #4e3620;
    font-family: 'Amatic SC', cursive;
    font-size: 19pt;
}

div.local p input:hover {
    background-color: #f0a500;
    color: #f2edd7;
    transition: 0.3s;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    
    div.local figure{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        padding-left: 0px;

    }
    div.local figure h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 35pt;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    div.local figure p{
        text-align: center;
        font-family: 'Cookie', cursive;
        font-size: 17pt;
        height: auto;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    div.local img {
        margin-left: auto;
        margin-right: auto;
    }
    div.local p input {
        align-items: center;
    }
    div.local p a{
        text-align: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
}
@media screen and (max-width: 480px) and (min-width: 320px) {
    
    div.local figure{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        padding-left: 0px;
    }
    div.local figure h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 35pt;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.local figure p{
        text-align: center;
        font-family: 'Cookie', cursive;
        font-size: 17pt;
        margin-bottom: 15px;
        height: auto;
    }
    div.local img {
        margin-left: auto;
        margin-right: auto;
    }
    div.local p input {
        align-items: center;
    }
    div.local p a{
        text-align: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
}