@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:wght@400;700&family=Prata&family=Roboto&display=swap');
:root{
    --fonte-Destaque: 'Cookie', cursive;
    --fonte-serifada: 'Playfair Display', 'Prata', serif;
    --fonte-texto: 'Roboto', Arial, sans-serif;
    --cor01: #e7e5d8;
    --cor02: #d6d4c8;
    --cor03: #464646;
}

a{
    font-family: var(--fonte-serifada);
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo{
    font-family: var(--fonte-Destaque);
    font-size: 2em;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--cor03);
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background-color: var(--cor03);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}