@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


section#produtos {
    display: flex;
    background-color:#897853;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.regiao{
    display: flex;
    
}
div.regiao figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 70px;
 
}
div.regiao img{
    display: flex;
    width: 80px;
    height: 80px; 
    border-radius: 100%;
    border: 5px double #e6d5b8;
}

div.regiao h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15px;
    color: #f2edd7;
    font-family:  'Amatic SC', cursive;
    font-size: 30pt;
    text-shadow: 2px 2px 1px #4e3620;
}

div.regiao p {
    text-align: center;
    height: auto;
    width: 300px;
    margin-top: 15px;
    font-family: 'Cookie', cursive;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 17pt;
    color: #f2edd7;
    text-shadow: 2px 2px 1px #4e3620;
}

div.botao-produtos {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}

div.botao-produtos input{
    width: 150px;
    border: 3px solid #f2edd7;
    background-color: rgba(242, 237, 215, 0.2);
    color: #f2edd7;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 1px 2px #4e3620;
    font-size: 22pt;
    height: 60px;
}

div.botao-produtos input:hover {
    background-color: #f0a500;
    color: #f2edd7;
    border: none;
    transition: 0.3s;
}

@media screen and (max-width: 768px) and (min-width: 480px){
    div.regiao{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    div.regiao img{
        display: flex;
        width: 120px;
        height: 120px; 
        border: 10px double #e6d5b8;
    }
    div.regiao p {
        font-size: 25pt;
    }
    
}

@media screen and (max-width: 480px) and (min-width: 320px){
    div.regiao{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    div.regiao img{
        display: flex;
        width: 120px;
        height: 120px; 
        border: 10px double #e6d5b8;
    }
    div.regiao p {
        font-size: 25pt;
    }
    
}