@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
:root{
    --fonte-Destaque: 'Cookie', cursive;
    --cor01: #e7e5d8;
    --cor02: #d6d4c8;
    --cor03: #464646;
}

.topo{
    background: #000;
    height: 42vh;
}
.topo h1{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 10px;
}
.topo p{
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 10px;
}
.linha {
    background-color: #fff;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    margin: auto;
}